<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybersell - PRODUCT_NAME</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <nav>
        <a href="/">
            <h1 id="logo">Cybersell</h1>
        </a>
        <div>
            <button id="cart-btn" class="btn btn-success"><i class='fas fa-shopping-cart'></i> Shopping Cart</button>
            <button id="login-btn" class="btn btn-success">Login</button>
        </div>
    </nav>
    <main>
        <section id="product-section">
            <div class="product-cell">
                <h3 class="product-name"><%= name %></h3>
                <img class="product-img" src="/api/image/<%= img %>"></img>
                <div class="product-card">
                    <p class="product-price"><%= price %></p>
                    <br>
                    <p class="product-desc"><%= desc %></p>
                    <br>
                    <p class="product-detail"><%= detail %></p>
                </div>
            </div>
        </section>
    </main>

</body>

</html>